/* :root{
    --main-color: #181818;
    --font-color: rgb(255, 255, 255) !important;
    --text-primary: rgb(255, 255, 255) !important;
    --font-family : Roboto, sans-serif !important;
} */

:root{
    --main-color: rgb(255, 255, 255);
    --primary-color: #64646F !important;
    --secondary-color: rgb(220, 187, 166) !important;
    --font-color: #000 !important;
    --text-primary: #000 !important;
    --pwe-lightest: rgb(237,221,213) !important;
    --pwe-lighter: rgb(229, 205, 191) !important;
    --pwe-skin: rgb(220, 187, 166) !important;
    --pwe-skin-button: #DCBBA6 !important;
    --pwe-darker: rgb(211, 171, 149) !important;
    --pwe-darkest: #C48E71 !important;
    --pwe-grey: #64646F !important;
    --pwe-lgrey: #7D7D89 !important;
    --pwe-blue: #a4b3c1 !important;
    --pwe-dark_blue: #869AAC !important;
    --vic-teal: #d1d3d4 !important;
    --pwe-teal: #99B7BD !important;
    --pwe-teal2: #b6b6b6 !important;
    --pwe-light-teal: #b8cdd1 !important;
    --pwe-ig-lgrey: #58595b !important;
    --font-family : Roboto, sans-serif !important;

}

.dark-theme{
    --main-color: #181818;
    --font-color: rgb(255, 255, 255) !important;
}

body, table{
    background-color: var(--main-color);
    color: var(--font-color) !important;
}

.text-center.text-primary.mb-4.header-1 {
    box-sizing : border-box; 
    margin-top : 0px;
    margin-bottom : 8px; 
    font-family: var(--font-family) !important;
    font-weight : 500; 
    line-height : 48px; 
    font-size : 40px; 
    padding : 8px 12px 8px 9.88px;
}

.header-1 {
    color: var(--font-color) !important;
    box-sizing : border-box; 
    margin-top : 0px; 
    margin-bottom : 8px; 
    font-family: var(--font-family) !important;
    font-weight : 500; 
    line-height : 48px; 
    font-size : 40px; 
    padding : 8px 12px 8px 9.88px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--font-color) !important;
    font-family: var(--font-family) !important;
}

p {
    color: var(--font-color) !important;
    font-family: var(--font-family) !important;
}

/* input[type='checkbox'] {
    color: #000 !important;
    background-color : rgb(255, 255, 255) !important;
    filter: invert(100%) hue-rotate(18deg) brightness(1.7);
} */

.DateRangePickerInput {
    background-color : rgb(255, 255, 255); 
    display : inline-block; 
    border-radius : 2px; 
    border : 1px solid rgb(219, 219, 219); 
    padding-right : 30px;
    font-family: var(--font-family) !important;
}

.DateInput_input {
    font-family: var(--font-family) !important;
    outline : rgb(0, 0, 0) none 0px; 
    font-weight : 200; 
    font-size : 15px !important; 
    line-height : 24px; 
    color : rgb(72, 72, 72); 
    background-color : rgb(255, 255, 255); 
    width : 130px; 
    padding : 11px 11px 9px; 
    border-image : none; 
    border-width : 0px 0px 2px; 
    border-top-style : none; 
    border-top-color : rgb(72, 72, 72); 
    border-right-style : none; 
    border-right-color : rgb(72, 72, 72); 
    border-bottom-style : solid; 
    border-bottom-color : var(--pwe-darker) !important; 
    border-left-style : none; 
    border-left-color : rgb(72, 72, 72); 
    border-radius : 0px; 
    background : rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box; 
    box-sizing : border-box; 
}

.CalendarDay.CalendarDay_1.CalendarDay__default.CalendarDay__default_2.CalendarDay__selected_span.CalendarDay__selected_span_3 {
    font-family: var(--font-family) !important;
    box-sizing : border-box;
    cursor : pointer;
    font-size : 14px;
    text-align : center;
    border : 1px double var(--pwe-lighter) !important;
    color : rgb(255, 255, 255);
    background : var(--pwe-darker) none repeat scroll 0% 0% / auto padding-box border-box !important;
}
.CalendarDay.CalendarDay_1.CalendarDay__default.CalendarDay__default_2.CalendarDay__selected_span.CalendarDay__selected_span_3:hover {
    font-family: var(--font-family) !important;
    background : var(--pwe-lighter) !important;
    border : 1px double var(--pwe-lighter) !important;
    color : rgb(255, 255, 255);
}

.CalendarDay.CalendarDay_1.CalendarDay__default.CalendarDay__default_2.CalendarDay__selected_span.CalendarDay__selected_span_4 {
    font-family: var(--font-family) !important;
    box-sizing : border-box;
    cursor : pointer;
    font-size : 14px;
    text-align : center;
    border : 1px double var(--pwe-lighter) !important;
    color : rgb(255, 255, 255);
    background : var(--pwe-lighter) none repeat scroll 0% 0% / auto padding-box border-box !important;
}
.CalendarDay.CalendarDay_1.CalendarDay__default.CalendarDay__default_2.CalendarDay__selected_span.CalendarDay__selected_span_4:hover {
    font-family: var(--font-family) !important;
    background : var(--pwe-lighter) !important;
    border : 1px double var(--pwe-lighter) !important;
    color : rgb(255, 255, 255);
}

.CalendarDay.CalendarDay__firstDayOfWeek.CalendarDay__selected_span {
    font-family: var(--font-family) !important;
    box-sizing : border-box;
    cursor : pointer;
    font-size : 14px;
    text-align : center;
    border : 1px double var(--pwe-lighter) !important;
    color : rgb(255, 255, 255);
    background : var(--pwe-darker) none repeat scroll 0% 0% / auto padding-box border-box !important;
}

.CalendarDay.CalendarDay__firstDayOfWeek.CalendarDay__selected_span:hover {
    font-family: var(--font-family) !important;
    color : rgb(255, 255, 255);
    background : var(--pwe-lighter) !important;
    border : 1px double var(--pwe-lighter) !important;
}

.CalendarDay.CalendarDay__lastDayOfWeek.CalendarDay__selected_span {
    font-family: var(--font-family) !important;
    box-sizing : border-box;
    cursor : pointer;
    font-size : 14px;
    text-align : center;
    border : 1px double var(--pwe-lighter) !important;
    color : rgb(255, 255, 255);
    background : var(--pwe-darker) none repeat scroll 0% 0% / auto padding-box border-box !important;
}

.CalendarDay.CalendarDay__lastDayOfWeek.CalendarDay__selected_span:hover {
    font-family: var(--font-family) !important;
    color : rgb(255, 255, 255);
    background : var(--pwe-lighter) !important;
    border : 1px double var(--pwe-lighter) !important;
}

.CalendarDay.CalendarDay__selected_start {
    font-family: var(--font-family) !important;
    box-sizing : border-box;
    cursor : pointer;
    font-size : 14px;
    text-align : center;
    border : 1px double var(--pwe-skin) !important; 
    color : rgb(255, 255, 255);
    background : var(--pwe-grey) none repeat scroll 0% 0% / auto padding-box border-box !important;
}

.CalendarDay.CalendarDay__selected_start:hover {
    font-family: var(--font-family) !important;
    background : var(--pwe-lightest) !important;
    border : 1px double var(--pwe-lightest) !important;
    color : rgb(255, 255, 255);
}

.CalendarDay__selected_end {
    font-family: var(--font-family) !important;
    box-sizing : border-box;
    cursor : pointer;
    font-size : 14px;
    text-align : center;
    border : 1px double var(--pwe-skin) !important; 
    color : rgb(255, 255, 255);
    background : var(--pwe-grey) none repeat scroll 0% 0% / auto padding-box border-box !important;
}

.CalendarDay.CalendarDay__selected_end:hover {
    font-family: var(--font-family) !important;
    background : var(--pwe-lightest) !important;
    border : 1px double var(--pwe-lightest) !important;
    color : rgb(255, 255, 255);
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top : 26px solid transparent !important;
    border-right : 33px solid var(--pwe-skin) !important;
}

.DayPickerKeyboardShortcuts_showSpan.DayPickerKeyboardShortcuts_showSpan_1.DayPickerKeyboardShortcuts_showSpan__bottomRight.DayPickerKeyboardShortcuts_showSpan__bottomRight_2 {
    color : rgb(255, 255, 255); 
    position : absolute; 
    bottom : 0px; 
    right : 5px;
}

.sec-alert.alert.alert-dark.alert-dismissible.show {
    font-family: var(--font-family) !important;
    font-size : 15px !important; 
    color : rgb(255, 255, 255);
    background : var(--pwe-grey) none repeat scroll 0% 0% / auto padding-box border-box !important;
}

.dash-debug-menu.dash-debug-menu--closed {
    transition : all 0.3s ease 0s;
    position : fixed;
    bottom : 35px;
    right : 35px;
    display : flex;
    justify-content : center;
    align-items : center;
    z-index : 10001;
    background-color : var(--pwe-skin) !important;
    border-radius : 100%;
    width : 64px;
    height : 64px;
    cursor : pointer;
}

.dash-debug-menu.dash-debug-menu--closed:hover {
    background-color : var(--pwe-darker) !important;
}

.dash-debug-menu.dash-debug-menu--open {
    transition : all 0.3s ease 0s;
    position : fixed;
    bottom : 35px;
    right : 35px;
    display : flex;
    justify-content : center;
    align-items : center;
    z-index : 10001;
    background-color : var(--pwe-darker) !important;
    border-radius : 100%;
    width : 64px;
    height : 64px;
    cursor : pointer;
    transform : matrix(-1, -1.22465e-16, 1.22465e-16, -1, 0, 0);
}

.dash-debug-menu.dash-debug-menu--open:hover {
    background-color : var(--pwe-darkest) !important;
}

.dash-debug-menu__button.dash-debug-menu__button--available {
    position : relative;
    background-color : var(--pwe-light-teal) !important;
    border-radius : 100%;
    width : 64px;
    height : 64px;
    font-size : 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    transition : background-color 0.2s ease 0s;
    color : rgb(255, 255, 255);
    cursor : default;
}

.dash-debug-menu__button.dash-debug-menu__button--available:hover {
    background-color : var(--pwe-teal) !important;
    cursor : default;
}

.dash-debug-menu__button.dash-debug-menu__button--errors.dash-debug-menu__button--enabled {
    position : relative;
    background-color : var(--pwe-blue) !important;
    border-radius : 100%;
    width : 64px;
    height : 64px;
    font-size : 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    transition : background-color 0.2s ease 0s;
    color : rgb(255, 255, 255);
    cursor : pointer;   
}

.dash-debug-menu__button.dash-debug-menu__button--errors.dash-debug-menu__button--enabled:hover {
    background-color : var(--pwe-dark_blue) !important;
}

.dash-debug-menu__button.dash-debug-menu__button--callbacks {
    position : relative;
    background-color : var(--pwe-lgrey) !important;
    border-radius : 100%;
    width : 64px;
    height : 64px;
    font-size : 10px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    transition : background-color 0.2s ease 0s;
    color : rgb(255, 255, 255);
    cursor : pointer;
}

.dash-debug-menu__button.dash-debug-menu__button--callbacks:hover {
    background-color : var(--pwe-grey) !important;
}


.candle_checklist {
    font-size : 15px !important; 
    padding : 2px 3px 2px 2.47px !important;
    font-family: var(--font-family) !important;
}

.checkbox {
    width: 11px;
    height: 11px;
    margin-right: 2.36px;
    background-color : var(--pwe-skin) !important;
    color : var(--pwe-skin) !important;
}

.vol_window {
    width: 53px !important;
    height: 20.2px !important;
    font-family: var(--font-family) !important;
    font-size : 15px !important;
    color : rgb(51, 51, 51) !important;
}

.vol_window_text {
    font-size : 15px !important;
    font-family: var(--font-family) !important;
    color : rgb(51, 51, 51) !important;
}

.yz_window {
    width: 53px !important;
    height: 20.2px !important;
    font-family: var(--font-family) !important;
    font-size : 15px !important;
    color : rgb(51, 51, 51) !important;
}

.yz_window_text {
    font-size : 15px !important;
    font-family: var(--font-family) !important;
    color : rgb(51, 51, 51) !important;
}

.mst_corr_thrsld
 {
    width: 53px !important;
    height: 20.2px !important;
    font-family: var(--font-family) !important;
    font-size : 15px !important;
    color : rgb(51, 51, 51) !important;     
 }

.mst_corr_thrsld_text {
    font-size : 15px !important;
    font-family: var(--font-family) !important;
    color : rgb(51, 51, 51) !important;
}

.uname_box {
    font-family: var(--font-family) !important;
}

.pwd_box {
    font-family: var(--font-family) !important;
}

.login_button {
    font-family: var(--font-family) !important;
    background-color : var(--pwe-skin-button) !important;
    box-sizing : border-box;
    box-shadow : none;
    text-decoration : none solid rgb(0, 0, 0);
    /* width : 221.594px; */
    display : inline-block;
    /* line-height : 20px; */
    background-color : rgba(0, 0, 0, 0);
    /* /* font-size : 20px;
    padding : 25px 50px; */
    border-radius : 0px;
    color : rgb(0, 0, 0);
    fill : rgb(0, 0, 0);
    text-align : center;
    transition : all 0.3s ease 0s;
    background-image : linear-gradient(rgb(220, 187, 166) 0%, rgb(220, 188, 170) 100%);
    /* margin-top : 0.618px; */
    /* border : 3px none rgb(0, 0, 0); */
    outline : rgb(0, 0, 0) none 0px;
}

.login_button:hover {
    font-family: var(--font-family) !important;
    background-color : var(--pwe-darker) !important;
    text-decoration : none;
    outline : none;
    background-image : linear-gradient(180deg, var( --e-global-color-accent ) 0%, var( --pwe-skin-button ) 100%);
}

.nav_href {
    font-family: var(--font-family) !important;
    color : var(--pwe-skin) !important;
}

.nav_href:hover {
    color : var(--pwe-lighter) !important;
}

.create_user_button {
    font-family: var(--font-family) !important;
    background-color : var(--pwe-skin-button) !important;
    box-sizing : border-box; 
    box-shadow : none;
    text-decoration : none solid rgb(0, 0, 0);
    display : inline-block;
    background-color : rgba(0, 0, 0, 0);
    /* font-size : 20px; */
    border-radius : 0px;
    color : rgb(0, 0, 0);
    fill : rgb(0, 0, 0);
    text-align : center;
    transition : all 0.3s ease 0s;
    background-image : linear-gradient(rgb(220, 187, 166) 0%, rgb(220, 188, 170) 100%);
    margin-top : 0px;
    margin-bottom : 2px;
    margin-top : 0px;
    margin-top : 0px;
    /* border : 3px none rgb(0, 0, 0); */
    /* outline : rgb(0, 0, 0) none 0px; */
}

.create_user_button:hover {
    font-family: var(--font-family) !important;
    background-color : var(--pwe-darker) !important;
    text-decoration : none;
    outline : none;
    background-image : linear-gradient(180deg, var( --e-global-color-accent ) 0%, var( --pwe-skin-button ) 100%);
}

.back_button {
    font-family: var(--font-family) !important;
    background-color : var(--pwe-skin-button) !important;
    box-sizing : border-box;
    box-shadow : none;
    text-decoration : none solid rgb(0, 0, 0);
    /* width : 221.594px; */
    display : inline-block;
    /* line-height : 20px; */
    background-color : rgba(0, 0, 0, 0);
    /* /* font-size : 20px;
    padding : 25px 50px; */
    border-radius : 0px;
    color : rgb(0, 0, 0);
    fill : rgb(0, 0, 0);
    text-align : center;
    transition : all 0.3s ease 0s;
    background-image : linear-gradient(rgb(220, 187, 166) 0%, rgb(220, 188, 170) 100%);
    /* margin-top : 0.618px; */
    /* border : 3px none rgb(0, 0, 0); */
    outline : rgb(0, 0, 0) none 0px;
}

.back_button:hover {
    font-family: var(--font-family) !important;
    background-color : var(--pwe-darker) !important;
    text-decoration : none;
    outline : none;
    background-image : linear-gradient(180deg, var( --e-global-color-accent ) 0%, var( --pwe-skin-button ) 100%);
}